@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-nav {
  position: sticky;
  z-index: 50;
  top: 0;
}
.blurry-bg {
  backdrop-filter: saturate(180%) blur(20px) !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  transition: background-color 0.1 ease-in-out !important;
}

body::-webkit-scrollbar {
  width: 0.75em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(39, 39, 39);
  outline: 1px solid rgb(33, 34, 34);
}

@layer base{
  body {
      @apply dark:bg-neutral-900 bg-slate-100
  }
}
